<% content_for :top do %>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/logo" %>
<% end %>

<% content_for :bottom do  %>
  <div class =  "convo-container">
    <div class = 'message-list'>
      <h3><%= link_to '< Back to your profile',user_path(current_user) %></h3>
      <h1><%= @conversation.subject %></h1>
        <h3> Your conversation with <%=  User.find(@conversation.receipts.where.not(receiver_id:current_user.id).first.receiver_id).name%></h3>
          <% @conversation.receipts.where(receiver_id:current_user.id).each do |receipt| %>
              <div class = 'message-body'>
                 <h4>Subject</h4>
                  <%= receipt.message.subject %>
                  <%= receipt.message.body %>

                  <p><%= button_to 'Delete', conversation_message_path(@conversation,receipt), method: :delete %>  </p>
              </div>
          <% end %>
    </div>
    <div class = 'new-message'>
      <h3>New Message</h3>
      <%= form_tag conversation_messages_path(@conversation) ,method: :post do  %>
        <p><%= label_tag :subject %></p>
        <p><%= text_field_tag :subject,nil, class:'input-search' %></p>
        <p><%= label_tag :body %></p>
        <p><%= text_area_tag :body %></p>
        <p><%= submit_tag "Send Message" %></p>
      <% end %>
    </div>
  </div>
<% end %>
