<% content_for :bottom do  %>
<h1><%= @conversation.subject %></h1>

<% @conversation.receipts.each do |receipt| %>
    <div>
        <%= receipt.message.body %>
    </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation),method: :post do  %>
    <div>
        <%= text_area_tag :body %>
    </div>

    <%= submit_tag %>
<% end %>
<% end %>
