        <table  class = "table " id= 'ride-list' >
            <tr>
              <th >Ride</th>
              <th >Origin</th>
              <th >Destination</th>
              <th >Date</th>
              <% if current_user == @user %>
                <th >Remove</th>
              <% end %>
            </tr>
              <% @user.rides.each do |ride| %>
              <tr >
                <td><%= link_to "View", ride_path(ride) %>
                <td><%= link_to ride.origin.full_street_address, origins_path(ride.origin) %></td>
                <td><%= link_to ride.destination.full_street_address, destinations_path( ride.destination) %></td>
                <td><%= ride.date%></td>
                <% if current_user == @user %>
                  <td><%= button_to "Delete", ride_path(ride), method: :delete %></td>
                <% end %>
              </tr>
              <% end %>
        </table>
