  <% content_for :top do %>
    <%= render :partial => "layouts/header" %>
    <%= render :partial => "layouts/logo" %>
  <% end %>

  <% content_for :bottom do %>
  <h1>Edit your profile</h1>
      <%= form_for @user do |f| %>

      <p><%= f.label :Name %></p>
      <p>  <%= f.text_field :name, placeholder: "Name", class:'input-search'%></p>
      <p>  <%= f.label :Image %></p>
      <p>  <%= f.file_field :image, class:'input-search'%></p>
      <p>  <%= f.submit "Submit" , class: "btn btn-md" %></p>
      <% end %>
  <% end %>
