<% content_for :top do %>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/logo" %>
<% end %>

<% content_for :bottom  do %>
  <div class = "user-show">
    <div id= "col-md-2 user_show">
      <h1><%= @user.name %></h1>
      <div class = "user-image">
        <%= image_tag @user.image.url if @user.image.url %>
      </div>
    <% if @user == current_user %>
      <h3><%= link_to 'Edit your profile', edit_user_path(current_user) %></h3>
      <h3><%= link_to 'Your Messages', conversations_path %></h3>
    </div>
    <div class = "user-show-tables">
      <div class = 'user-ride-list-container'>
          <%= render partial: 'accepted_rides' %>
          <% if @requests.count > 0 %>
          <%= render partial: 'requests' %>
          <% end %>
        <div class="col-md-8 user-rides">
          <h3>Rides you are offering</h3>
    <% else %>
          <h1>Rides offered by <%= "#{@user.name}" %> </h1>
    <% end %>
        <%= render partial: 'rides_offered' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
