<%= render :partial => 'layouts/search' %>
<% content_for :bottom do  %>
  <%= link_to 'Events', events_path(@events) %>
<div class= 'home-container'>
  <h3> Sorry There are no rides that match your search, but here are some related rides</h3>
    <table  class = "table " id= 'ride-list' >
      <tr>
        <th >Ride</th>
        <th >Origin</th>
        <th >Destination</th>
        <th >Date</th>
        <th >Driver</th>
      </tr>
    <% @rides.first.each do |ride| %>
      <tr >
        <td><%= link_to "View", ride_path(ride) %>
        <td><%= link_to ride.origin.full_street_address, origins_path(ride.origin) %></td>
        <td><%= link_to ride.destination.full_street_address, destinations_path(ride.destination) %></td>
        <td><%=ride.date%></td>
        <% if ride.user.image.url %>
          <td id= "image-icon"><%= image_tag ride.user.image.url%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <div class="event-list">
    <%= render :partial => 'layouts/event_show' %>
  </div>
</div>
<% end %>
