<%= render :partial => 'layouts/search' %>
  <% if params['origin'] %>
  <% content_for :bottom do  %>
  <table  class = "table table-striped" id= 'ride-list' >
      <tr>
        <th >Origin</th>
        <th >Destination</th>
        <th >Date</th>
        <th >Driver</th>
      </tr>
        <% @rides.each do |ride| %>
        <tr >
          <td><%= ride.origin.full_street_address %></td>
          <td><%= ride.destination.full_street_address %></td>
          <td><%= ride.date%></td>
          <td><%= link_to ride.user.name, user_path(ride.user) %></td>
          <td id= "image-icon"><%= image_tag ride.user.image.url if ride.user.image.url%></td>
        </tr>
        <% end %>
  </table>
  <% end %>
<% end %>
