<% content_for :top do %>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/logo" %>
<% end %>

<% content_for :bottom do  %>
  <h1>Rides ending in: <%= @destinations.first.full_street_address %></h1>
  <table class = "table " id= 'ride-list'>
    <tr>
      <th>View</th>
      <th>Origin</th>
      <th>Date</th>
      <th>Offered By</th>
    </tr>
    <% @destinations.each do |destination| %>
    <tr>
      <td><%= link_to "View", ride_path(destination.ride) %></td>
      <td><%= link_to destination.ride.origin.full_street_address, origins_path(destination.ride.origin) %></td>
      <td><%= destination.ride.date%></td>
      <% if destination.ride.user.image.url %>
        <td id="image-icon"><%= link_to (image_tag destination.ride.user.image.url ), user_path(destination.ride.user)  %></p>
      <% end %>
    </tr>
    <% end %>
  </table>

    <h1>Events near your destination </h1>
    <table class= "table " id= 'ride-list' >
        <tr>
          <th >Event</th>
          <th >City</th>
          <th >Date</th>
          <th >Visit</th>

        </tr>
          <% @events.each do |event| %>
          <tr >
            <td><%=  event.title %>
            <td><%= link_to @destinations.first.full_street_address %>
            <td><%= event.date %>
            <td><%=link_to image_tag(events), event.url, class: 'event-image' %></td>
          </tr>
          <% end %>
    </table>

<% end %>
