<% content_for :top do %>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/logo" %>
<% end %>
<% content_for :bottom do  %>
  <h1>Rides ending in: <%= @destinations.first.full_street_address %></h1>
  <table class = "table table-striped" id= 'ride-list'>
      <tr>
        <th>Offered By</th>
        <th>Origin</th>
        <th>Date</th>
      </tr>
  <% @destinations.each do |destination| %>
  <tr>
    <td><%= link_to destination.ride.user.name, user_path(destination.ride.user) %></td>
    <td><%= link_to destination.ride.origin.full_street_address, destinations_path(destination.ride.origin) %></td>
    <td><%= destination.ride.date%></td>
  </tr>
  <% end %>
</table>
<% end %>
