

<% content_for :bottom do  %>
<table class="table" >
  <thead>
    <tr>
      <th scope="col" >Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">Date</th>
      <th scope="col">Driver</th>

    </tr>
  </thead>
  <tbody>
      <% @rides.each do |ride| %>
      <tr >
        <th scope="row"><%=ride.id%></th>
        <td><%= ride.origin.full_street_address %></td>
        <td><%= ride.destination.full_street_address %></td>
        <td><%= ride.date%></td>
        <td><%= ride.user.name %></td>
        <td>2/3/21</td>
      </tr>
      <% end %>

  </tbody>
</table>
<% end %>
