
<% content_for :top do  %>
  <%= render :partial =>'header' %>
  <% end %>

<% content_for :bottom do  %>
<table class=" col-md-12 table" >
  <thead>
    <tr>
      <th  >Origin</th>
      <th >Destination</th>
      <th >Date</th>
      <th >Driver</th>
    </tr>
  </thead>
  <tbody>
      <% @rides.each do |ride| %>
      <tr >
        <th scope="row"><%=ride.id%></th>
        <td><%= ride.origin.full_street_address %></td>
        <td><%= ride.destination.full_street_address %></td>
        <td><%= ride.date%></td>
        <td><%= link_to ride.user.name, user_path(ride.user) %></td>
        <td id= "image-icon"><%= image_tag ride.user.image.url if ride.user.image.url%></td>
        <td>2/3/21</td>
      </tr>
      <% end %>

  </tbody>
</table>
<% end %>
