

<% content_for :bottom do  %>
<table  id= 'ride-list' >
  <thead>
    <tr>
      <th  >Origin</th>
      <th >Destination</th>
      <th >Date</th>
      <th >Driver</th>
    </tr>
  </thead>
  <tbody>
      <% @rides.each do |ride| %>
      <tr >
        <td><%= ride.origin.full_street_address %></td>
        <td><%= ride.destination.full_street_address %></td>
        <td><%= ride.date%></td>
        <td><%= link_to ride.user.name, user_path(ride.user) %></td>
        <% if ride.user.image.url %>
        <p><%= link_to (image_tag ride.user.image.url ), user_path(ride.user)  %></p>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
<% end %>
