<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GedaRide</title>
    <%= favicon_link_tag("https://s3-us-west-1.amazonaws.com/gedaride/mountain-black.png") %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <title>Gedaride</title>
    <%= csrf_meta_tags %>
  </head>

<body id="top">
        <header id="home">
          <section class="hero" id="hero">
            <div id="header">
              <%= yield :header %>
            </div>
            <%= yield :top %>
          </section>
        </header>
        <section class=" section-padding" id="">
          <div class="">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <div class ='bottom'>
                   <% flash.each do |key, value| %>
                      <div class="alert alert-<%= key %>"><%= value %></div>
                    <% end %>
                  <%= yield  :bottom %>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="container">
              <div class=" credit">
                <a class = 'media' href= 'github.io/zacharylandes'>Zachary Landes</a></li>
                <a class = 'media' href='http://www.github.com/zacharylandes'><i class="fab fa-github fa-2x" target="_blank"></a></i>
                <a class = 'media' href = "https://www.linkedin.com/in/zacharylandes/" > <i class="fab fa-linkedin fa-2x" target="_blank"></i></a>
			          <a class = 'media' href="mailto:zach.g.landes@gmail.com" target="_blank"><i class="fab fa-google fa-2x" target="_blank"></i></a>
                <a class = 'media' href = 'http://www.zacharylandes.github.io'><img src="https://s3-us-west-1.amazonaws.com/gedaride/iconwhite.png"  target="_blank"/></a>
            </div>
          </div>
        </footer>
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <%= javascript_include_tag 'application' %>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Er31WgERjL7NaVZmBE4bb-LAnXDlKiQ&callback=initMap">
      </script>
</html>
