<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GedaRide</title>
    <%= favicon_link_tag(asset_path('favicon-32x32.png')) %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <title>Gedaride</title>
    <%= csrf_meta_tags %>
  </head>

<body id="top">
        <header id="home">
          <section class="hero" id="hero">
            <div id="header">
              <%= yield :header %>
            </div>
            <%= yield :top %>
          </section>
        </header>
        <section class=" section-padding" id="">
          <div class="">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 wp1">
                <div class ='bottom'>
                   <% flash.each do |key, value| %>
                      <div class="alert alert-<%= key %>"><%= value %></div>
                    <% end %>
                  <%= yield  :bottom %>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li><a href="#">Zachary Landes </a></li>
                </ul>
              </div>
              <div class="col-md-6 credit">
                <p></p>
              </div>
            </div>
          </div>
        </footer>
  </body>
  <%= javascript_include_tag 'application' %>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Er31WgERjL7NaVZmBE4bb-LAnXDlKiQ&callback=initMap">
      </script>
</html>
