<% content_for :bottom  do %>
  <div class = "user-show">
    <div id="user_show">
      <h1><%= @user.name %></h1>
      <div class = "user-image">
        <%= image_tag @user.image.url if @user.image.url %>
      </div>
      <% if @user == current_user %>
        <h3><%= link_to 'Edit your profile', edit_user_path(current_user) %></h3>
      <% end %>
    </div>
    <div class="user-rides">
      <h1>Your Rides-</h1>
      <table  class = "table table-striped" id= 'ride-list' >
          <tr>
            <th >Origin</th>
            <th >Destination</th>
            <th >Date</th>
          </tr>
            <% @user.rides.each do |ride| %>
            <tr >
              <td><%= ride.origin.full_street_address %></td>
              <td><%= ride.destination.full_street_address %></td>
              <td><%= ride.date%></td>
            </tr>
            <% end %>
      </table>
    </div>
    <% end %>

</div>
